
<?xml version="1.0" encoding="UTF-8"?>

<!-- confing.xml-->

<widget xmlns       = "htpp://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.appMarx"
        version     = "1.0.0">
        
<name>APP NOTICIAS</name>
<description>Noticias al día</description>    

<author href="https://github.com/TheOverlost/NewProyect.git" email="arkadion4@gmail.com">
    Jc Team
</author>  

<content src="index.php"/>  
        
        
</widget>        